/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/topic_centers/2019-8/couple-hiking-mountain-climbing-1296x728-header.jpg?w=1155&h=1528);
    background-size: cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: no-repeat;
  color: white;
  font-family: 'Roboto', sans-serif;
}
button {
	cursor: pointer;
  border: none;
}
span {
  font-weight: bold;
  color: #36619b;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/******************************************
/* LAYOUT
/*******************************************/

/*Header.ejs*/
header {
  display: flex;
  justify-content: space-between
}
header a {
  color: #36619b;
}
/*Index.ejs*/

/*Signup.ejs & Login.ejs*/
.accountContainer {
  font-weight: bold;
	display: block;
	margin: 0 auto;
	max-width: max-content;
  border-radius: 20px;
  border: 2px solid white;
  padding: 2%;
}
.accountContainer h2 {
  text-align: center;
  font-size: 40px;
}
.accountContainer form {
  display: flex;
  flex-direction: column;
}
.accountContainer label {
  padding: 2%;
}
.accountContainer input {
  width: 100%;
}
.accountContainer button {
  height: 30px;
  width: 80px;
  margin: 2%;
  background: #40a0d7;
  color: white;
}
.accountContainer p {
  padding: 2%;
}
/*Profile.ejs*/

/*HikingTrail.ejs*/

/*Update.ejs*/

/*Footer.ejs*/
footer {
  clear: both;
  text-align: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/