/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #0b4436;
}
button {
	cursor: pointer;
  border: none;
}
span {
  font-weight: bold;
  color: #36619b;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  vertical-align: middle;
}
/******************************************
/* LAYOUT
/*******************************************/

/*Header.ejs*/
header {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
header a {
  color: #cc8231;
  font-weight: bold;
}
header ul {
  display: flex;
}
.logo img {
  height: 3rem;
  width: 17rem;
  object-fit: cover;
  margin: 0 auto;
}
header ul li {
  padding-right: 1rem;
}
/*Signup.ejs & Login.ejs*/
.loginContainer {
   background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage7.jpg);
}
.signUpContainer {
  background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage6.jpg); 
}
.loginContainer, .signUpContainer {
  height: 83vh;
  background-size: cover;
  background-attachment: fixed, fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 5rem;
}
.accountContainer {
  background-color: #0b4436bf;
  font-weight: bold;
	display: block;
	margin: 0 auto;
  width: 40rem;
  padding-top: 1rem;
  border-radius: 15px;
}
.accountContainer h2 {
  text-align: center;
  font-size: 40px;
}
.accountContainer form {
  display: flex;
  flex-direction: column;
}
.accountContainer label {
  padding: 2%;
}
.accountContainer input {
  width: 100%;
}
.accountContainer button {
  height: 30px;
  width: 80px;
  margin: 2%;
  background: #cc8231;
  color: white;
  border-radius: 5px;
}
.accountContainer p {
  padding: 2%;
}
.accountContainer p a {
  color: #cc8231;
}
.alert, .alert-danger {
  text-align: center;
  color:crimson;
}
/*Index.ejs*/

/*SlideShow*/
.text h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 65px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
.Slideimage1 {
  background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage9.jpg); 
  animation-delay: 0s;
}
.Slideimage2 {
  background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage5.jpg);
  animation-delay: 4s;
}
.Slideimage3 {
  background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage3.jpg); 
  animation-delay: 8s;
}
.Slideimage4 {
  background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage4.jpg); 
  animation-delay: 12s;
}
.Slideimage1, .Slideimage2, .Slideimage3, .Slideimage4 {
  opacity:0; 
  animation-name: fade; 
  animation-duration: 12s; 
  animation-iteration-count: infinite; 
  transition: ease-in-out;
  left:0; 
  right:0;
}
@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}
.slideshow {
  height: 80vh;
  width: 100%;
  margin: auto;
}
.carouselImage {
  width: 100%;
  height: 45rem;
  background-size: cover;
  background-attachment: fixed, fixed;
  background-position: top left, bottom center;
  background-repeat: no-repeat;
  position: absolute;
}
.carouselImage img {
  width: 100%;
}
/*Profile.ejs*/

/*HikingTrail.ejs*/

/*Update.ejs*/

/*Footer.ejs*/
footer {
  clear: both;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/