/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #0b4436;
}
button {
	cursor: pointer;
  border: none;
}
span {
  font-weight: bold;
  color: #cc8231;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  vertical-align: middle;
}
.container {
  margin: 0 10% 0 10%;
}
/******************************************
/* LAYOUT
/*******************************************/

/*Header.ejs*/
header {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
header a {
  color: #cc8231;
  font-weight: bold;
}
header ul {
  display: flex;
}
.logo img {
  height: 3rem;
  width: 17rem;
  object-fit: cover;
  margin: 0 auto;
}
header ul li {
  padding-right: 1rem;
}
/*Signup.ejs & Login.ejs*/
.loginContainer {
   background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage7.jpg);
}
.signUpContainer {
  background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage6.jpg); 
}
.loginContainer, .signUpContainer {
  height: 83vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 5rem;
}
.accountContainer {
  background-color: #0b4436bf;
  font-weight: bold;
	display: block;
	margin: 0 auto;
  width: 40rem;
  padding-top: 1rem;
  border-radius: 15px;
}
.accountContainer h2 {
  text-align: center;
  font-size: 40px;
}
.accountContainer form {
  display: flex;
  flex-direction: column;
}
.accountContainer label {
  padding: 2%;
}
.accountContainer input {
  width: 100%;
}
.accountContainer button {
  height: 30px;
  width: 80px;
  margin: 2%;
  background: #cc8231;
  color: white;
  border-radius: 5px;
}
.accountContainer p {
  padding: 2%;
}
.accountContainer p a {
  color: #cc8231;
}
.alert, .alert-danger {
  text-align: center;
  color:crimson;
}
/*Index.ejs*/
title h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 5px;
}
.uploadedTrails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.uploadedTrails ul {
  display: flex;
  flex-wrap: wrap;
}
.uploadedTrails img {
  width: 20rem;
  object-fit: fill;
  height: 12rem;
  padding: 15px;
  border-radius: 20px;
}
.uploadedTrails p {
  text-align: center;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
.uploadedTrails a {
  color: #cc8231;
  text-decoration: none;
}
/*SlideShow*/
.text h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 65px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
.Slideimage1 {
  background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage9.jpg); 
  animation-delay: 0s;
}
.Slideimage2 {
  background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage5.jpg);
  animation-delay: 4s;
}
.Slideimage3 {
  background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage3.jpg); 
  animation-delay: 8s;
}
.Slideimage4 {
  background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage4.jpg); 
  animation-delay: 12s;
}
.Slideimage1, .Slideimage2, .Slideimage3, .Slideimage4 {
  opacity:0; 
  animation-name: fade; 
  animation-duration: 12s; 
  animation-iteration-count: infinite; 
  transition: ease-in-out;
  left:0; 
  right:0;
}
@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}
.slideshow {
  height: 80vh;
  width: 100%;
  margin: auto;
}
.carouselImage {
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: top left, bottom center;
  background-repeat: no-repeat;
  position: absolute;
}
.carouselImage img {
  width: 100%;
}
/*Profile.ejs*/
.profile-container {
  background-image: linear-gradient(#18161626,#18161626), url(../images/hikeImage8.jpg); 
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center, bottom;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.userContainer {
  background-color: #0b4436bf;
  font-weight: bold;
	display: block;
	margin: 0 auto;
  width: 100rem;
  padding: 2rem;
  border-radius: 15px;
}
.notification {
	position: fixed;
	z-index: 2;
	top: 2rem;
	left: 50%;
	transition: 0.1s ease-in-out;
	transition-property: visibility, opacity, transform;
	background: white;
	padding: 0.5em 1em;
}
.notification {
	visibility: hidden;
	opacity: 0;
	transform: translate(-50%, -100%);
}
.notification.show {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, 0%);
}
.submissionContainer h2, .submissionContainer p, .userContainer h2 {
  text-align: center;
}
.submissionform {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.submissionform label {
	display: flex;
	justify-content: end;
	gap: 1rem;
  padding: 1rem;
}
.submissionform input,
.submissionform select {
	width: 12rem;
}
.submissionform > h2 {
	grid-column: 1 / 3;
}
.map  {
  height: 40vh;
  display: flex;
  justify-content: center;
}
.map a, .map img {
  height: inherit;
}
.trailLink {
  text-align: center;
  padding: 1rem;
}
.description {
	grid-column: 1 / 3;
  width: 50rem;
  display: contents;
}
.description textarea {
	width: 60rem;
	min-height: 10rem;
  margin: 0 auto;
  display: flex;
}
.submitbutton {
	grid-column: 1 / 3;
  background-color: #cc8231;
  color: white;
  padding: 0.5em 1em;
  display: flex;
  margin: 0 auto;
  font-size: 100%;
  margin-top: 1rem;
}
.submissionslist {
	padding: 0;
	display: flex;
	gap: 4rem;
}
.submission {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.submissionperson {
	padding: 1rem;
	border: 1px solid #40a0d7;
}
.submissionimage {
	width: 4rem;
	border-radius: 50%;
}
.submissionname {
	margin: 0;
	color: black;
}
.submissionbuttons {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}
.submissionbutton, .update {
	display: inline-block;
	border: none;
	font-size: 90%;
	color: white;
	background: #cc8231;
	margin: 0.5rem;
	padding: 0.5em 1em;
}
/*HikingTrail.ejs*/
.mainsectiontop {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.mainsectionbottom{
  padding: 25px;
  height:50%;
  align-content: center;
}
.mainsectionbottom h2 {
  text-align: center;
}
.infoWrapper {
  display: flex;
  justify-content: space-evenly;
}
.description {
  text-align: center;
  padding-bottom: 1rem;
  margin: 0 auto;
  width: 60rem;
}
#submission {
  align-self:left;
}
#submission p {
  margin: 0;
}
.bigimage {
  position: relative;
  height: 35rem;
  width: 100%;
}
.bigimage img {
  object-fit: contain;
  height: 100%;
  padding: 1rem;
  display: block;
}
.smallerimges{
    width:100%;
}
/*Update.ejs*/
.updateContainer h2 {
  text-align: center;
}
.upCan {
	grid-column: 1 / 3;
  display: flex;
  justify-content: center;
}
/*Footer.ejs*/
footer {
  clear: both;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 3.5rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/